/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.dark #primary-menu:not(.not-dark) ul ul, .dark #primary-menu:not(.not-dark) ul li .mega-menu-content, #primary-menu.dark ul ul, #primary-menu.dark ul li .mega-menu-content{
  background-color: rgba(56, 88, 88, 0.8);

border: none;
border-top: 5px solid #fff;
border-color: white;
border-top-color: white;
color: #fff;
}
.dark #primary-menu:not(.not-dark) ul ul li > a, #primary-menu.dark ul ul li > a{
  color: #fff !important;
}
.dark #primary-menu:not(.not-dark) ul ul li:hover, #primary-menu.dark ul ul li:hover{
  background-color: #fff !important;
}
.dark #primary-menu:not(.not-dark) ul ul li:hover > a, #primary-menu.dark ul ul li:hover > a{
  background: none !important;
}
.dark #primary-menu:not(.not-dark) ul ul li > a:hover, #primary-menu.dark ul ul li > a:hover{
  color: #000 !important;
}

.footer-title
{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
    padding: 0 0 0 10px;
    border-left: 4px solid #f79646;
    float: left;
    width: 100%;
    text-align: left;
    color: #fff;
}
.contact-widget a {
    display: block;
    color: #fff;
    float: left;
    clear: both;
    margin: 2px;
    font-size: 16px;
}
.social-icons ul li {
    display: inline;
    float: left;
}
.social-icons ul li a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255,254,254,.07);
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.custom-jobs .acc_content{
  display: none;
border: 1px solid rgb(204, 204, 204);
padding: 37px;
margin-bottom: 13px;

}
